
$palettewhite: #FFFFFF;
$paletteoffwhite: #F0ECD6;
$palettelightgrey: #4C555C;
$palettedarkgrey: #32383D;
$paletteorange: #ED7C75;
$paletteblue: #00ada9;
$palettegreen: #1BC6B4;
$palettered: pink;


$borderbottom:#a6a9ab;
$highlight:#f1f1f1eb;
$formtext:#757575;
